.mapWrapper {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  overflow: hidden;
  border-radius: 15px;

  .loadingMapClient {
    color: black;
    font-size: 18pt;
  }
}
