.sidebar {
  width: 281px;
  background-color: #010409;
  // transition: width 0.3s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1002; /* above map layers */
}

.sidebar.collapsed {
  width: 50px;

  .content {
    display: none;
  }
}

.content {
  flex: 1;
  padding: 15px;
  color: white;
  display: flex;
  flex-direction: column;

  .section {
    background-color: #151B23;
    border-color: #3D444D;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    overflow-x: scroll;
    /* For Webkit browsers (Chrome, Safari, newer Edge) */
    &::-webkit-scrollbar {
      height: 0px; /* Hide the horizontal scrollbar track */
      width: 0px;  /* Hide the vertical scrollbar track */
    }
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and older Edge */
  }

  .sectionHeader {
    margin-bottom: 5px;
  }
}

.toggle {
  position: absolute;
  top: 10px;
  right: -12px; /* outside the sidebar */
  // width: 30px;
  // height: 30px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  user-select: none;
  z-index: 1003; /* above sidebar itself */
}
