.sidebar {
  width: 250px;
  background-color: #1e1e1e;
  // transition: width 0.3s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1002; /* above map layers */
}

.sidebar.collapsed {
  width: 50px;

  .content {
    display: none;
  }
}

.content {
  flex: 1;
  padding: 15px;
  color: white;
  display: flex;
  flex-direction: column;
}

.content > div {
  margin-bottom: 20px; /* space between sections (period, daily player, hourly player) */
}

.toggle {
  position: absolute;
  top: 10px;
  right: -15px; /* outside the sidebar */
  width: 30px;
  height: 30px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  font-size: 16px;
  font-weight: bold;
  user-select: none;
  z-index: 1003; /* above sidebar itself */
}
