.datePickerWrapper {
  display: flex;
  flex-direction: column;
}

.datePickerInput {
  width: 100%;
  max-width: 230px;
  padding: 3px 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 13px;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  transition: border-color 0.2s ease;

  &:focus {
    outline: none;
    border-color: #888;
  }
}
