$breakpoint-mobile: 680px;

.header {
  height: 50px;
  width: 100%;
  background-color: #010409;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  // position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .headerTitle {
    color: white;
    font-size: 16pt;
    font-weight: bold;
    white-space: nowrap;

    @media (max-width: $breakpoint-mobile) {
      font-size: 12pt;
    }
  }
}
