.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.row {
  display: flex;
  gap: 1px; /* space between buttons */

  .rowItem {
    border: none;
    border-radius: 6px;
    font-size: 13px;
    color: #000000;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.2s ease, transform 0.1s ease;

    @keyframes shimmer {
      0% {
        background-position: 200% 0; 
      }
      100% {
        background-position: -200% 0; 
      }
    }

    .playPauseButton {
      cursor: pointer;
      width: 25px;
      height: 100%;
      padding: 3px 6px;
      border-radius: 6px 0px 0px 6px;
      background-color: #ffffff;
      background: linear-gradient(
        90deg,
        #ffffff 0%,
        #c9d0d3 30%,
        #ffffff 60% 
      );
      background-size: 200% 100%;
      animation: shimmer 5s infinite linear; 
    }

    .loadPlayPauseButton {
      cursor: not-allowed;
      width: 25px;
      height: 100%;
      padding: 3px 6px;
      border-radius: 6px 0px 0px 6px;
      background-color: #ffffff;
    }

    .lucidIcon {
      width: 100%;
      height: 100%;
      stroke-width: 2px;
    }

    .infoBox {
      width: 160px;
      padding: 3px 6px;
      background-color: #ffffff;
      color: #000000;
      cursor: default;
    }

    .refreshButton {
      cursor: pointer;
      width: 25px;
      height: 100%;
      padding: 3px 6px;
      font-weight: bold;
      border-radius: 0px 6px 6px 0px;
      background-color: #ffffff;
    }

    .loadRefreshButton {
      cursor: not-allowed;
      width: 25px;
      height: 100%;
      padding: 3px 6px;
      font-weight: bold;
      border-radius: 0px 6px 6px 0px;
      background-color: #ffffff;
    }
  }
}

.button:hover {
  background-color: #f0f0f0;
  transform: translateY(-1px);
}
